@import url(http://fonts.googleapis.com/css?family=Syncopate:700);

body {
  font-family: "Syncopate";
  text-transform: uppercase;
  background: #000;
  text-align: center;
}

svg {
  max-height: 100vh;
}

text {
  fill: url(#space);
}

